.topnavbar{ 
    background-color: teal;
    border: black, solid, 1px;  
    position: relative; 
    color: white; 
    width: 1327px;
    height: 50px;
    word-spacing: 2px;
    display: flex;
    justify-content: space-around; 
    overflow-x: auto;
}
.topnavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-color: black; 
}
.topnavbar a:hover {
    background-color: tan;
    color:black;
}
nav a{
    color: black;
    text-decoration: none;
}
.topnavbarandtitlepage{
    border: black, solid, 2px;
    background-color: teal;
}
body{ 
    background-color:rgb(245, 245, 220);
    color: black;
    word-spacing: 2px; 
    text-indent: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subhead{
    text-align: center;
    width: 1350px;
    word-spacing: 2px; 
    text-indent: 5px;
}
.titlepagegrab{
    height: -200px;
}
.titlepage{
    border: black, solid, 1px;  
}
h1{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
    background-color: teal; 
    height: 70px; 
    padding-top: 300px; 
    color: white; 
}
h2{ 
    text-align: center;
    border: black, solid, 3px
}
.abstract{
    height:275px ;
}
.alltext{
    position: center; 
    display:center;
    justify-content: center;
}
h3{
    text-align: center;
    background-color: teal;
    height: 150px;
    color: white; 
}
.h4{ 
    text-align:center; 
    background-color: rgb(245, 245, 220);
    height: 20px; 
    color: black; 
}
.issuetitle{ 
    border: black, solid, 2px;
    width: 1330px; 
    position: relative, center; 
    text-align: center;
}
.p2{ 
    border-color: black, solid, 2px;
    text-align: center; 
    display: flex; 
    justify-content: center;
    width: 675px; 
    text-indent: 5px;
    word-spacing: 2px;
    letter-spacing: .5px;
    line-height:40px;
    padding-top: 3px;
    padding-bottom: 3px;
    overflow: hidden;

}
.p2summary{
    position: absolute;  
    text-align: left; 
    left: 720px;
    bottom: -280px;
    overflow-x: hidden;
    line-height: 45px;
}
.p2summary2{
    position: absolute; 
    text-align: left; 
    left: 720px; 
    bottom: -1060px;
    line-height: 45px;
}
.p2summary1{
    line-height: 45px; 
    position: relative;

}
.resultchart{
    position: absolute;
    width: 630px;
    left: 700px; 
    bottom: 30px;
    border: black, solid, 2px; 
}
.p2summary3{
    position: absolute; 
    text-align: left; 
    left: 720px; 
    bottom: -1350px;
    line-height: 45px;
}
.button{
    border: black, solid, 2px;
    background-color: teal;  
    position: relative; 
    color: white; 
    width: 1327px;
   text-decoration: none;
    height: 35px;
    word-spacing: 2px;
    display: flex;
    justify-content: space-around; 
    overflow-x: auto;
    font-size: 30px;


}
